@import "tailwindcss";
@import "@openng/icons/openng-icons.css";


/* Tailwind theme */
@theme {
  --color-primary: #702936;
  --color-accent: #5a212b;
  --color-surface: #f5f3ef;
  --color-elevated: #d5d0c8;
  --color-text: #211e1d;
  --color-muted: #6f6963;
  --color-border: #d5d0c8;

  --font-sans: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-surface);
}
